.radio-button {
    width: 2.2rem;
    height: 1.2rem;
    background-color: #cacfd9;
    border-radius: 100rem;
    position: relative;
    cursor: pointer;
}
.radio-button__switch {
    width: 50%;
    height: 88%;
    background-color: #fff;
    border-radius: 100rem;
    box-shadow: 0 1px 20px rgba(255, 255, 255, 0.491);
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    transition: 0.125s left, 0.125s background-color, 0.125s box-shadow;
}

.radio-button__switch--toggled {
    left: 46%;
    box-shadow: 0 1px 20px rgb(45, 129, 246);
    background-color: #094e95;
}
.radio-button__switch--error {
    background-color: rgb(178, 31, 31);
    box-shadow: 0 1px 20px rgb(178, 31, 31);
}

@media screen and (min-width: 1024px) {
    .radio-button {
        width: 2.8rem;
        height: 1.5rem;
    }
}
