.lamp-power-progress {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 75%;
    padding-left: 3%;
}
.lamp-power-progress__container {
    width: 20%;
    height: 40%;
    margin-left: 0.5rem;
    border-radius: 0.1rem;
    background-color: #03152c;
}
.lamp-power-progress__value {
    width: 100%;
    height: 100%;
    background-color: #094e95;
    border-radius: 0.1rem;
}
